USE [master]
GO
/****** Object:  Database [TinyHouse]    Script Date: 4.05.2025 16:41:02 ******/
CREATE DATABASE [TinyHouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TinyHouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TinyHouse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TinyHouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TinyHouse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TinyHouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TinyHouse]
GO
/****** Object:  Table [dbo].[tblBildirimler]    Script Date: 4.05.2025 16:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBildirimler](
	[bildirim_id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_id] [int] NOT NULL,
	[baslik] [nvarchar](100) NOT NULL,
	[mesaj] [nvarchar](255) NOT NULL,
	[okundu_mu] [bit] NULL,
	[olusturulma_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bildirim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDegerlendirmeler]    Script Date: 4.05.2025 16:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDegerlendirmeler](
	[degerlendirme_id] [int] IDENTITY(1,1) NOT NULL,
	[rezervasyon_id] [int] NOT NULL,
	[puan] [int] NOT NULL,
	[yorum] [nvarchar](max) NULL,
	[ev_sahibi_cevabi] [nvarchar](max) NULL,
	[olusturulma_tarihi] [datetime] NULL,
	[guncelleme_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[degerlendirme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEvFotograflari]    Script Date: 4.05.2025 16:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEvFotograflari](
	[fotograf_id] [int] IDENTITY(1,1) NOT NULL,
	[ev_id] [int] NOT NULL,
	[fotograf_url] [nvarchar](255) NOT NULL,
	[yuklenme_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[fotograf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKullanicilar]    Script Date: 4.05.2025 16:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKullanicilar](
	[kullanici_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[eposta] [nvarchar](100) NOT NULL,
	[sifre] [nvarchar](255) NOT NULL,
	[telefon] [nvarchar](20) NULL,
	[adres] [nvarchar](255) NULL,
	[rol] [nvarchar](20) NOT NULL,
	[aktif_mi] [bit] NULL,
	[olusturulma_tarihi] [datetime] NULL,
	[guncelleme_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[kullanici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOdemeler]    Script Date: 4.05.2025 16:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOdemeler](
	[odeme_id] [int] IDENTITY(1,1) NOT NULL,
	[rezervasyon_id] [int] NOT NULL,
	[tutar] [decimal](10, 2) NOT NULL,
	[odeme_yontemi] [nvarchar](50) NOT NULL,
	[islem_id] [nvarchar](100) NULL,
	[odeme_durum] [nvarchar](20) NOT NULL,
	[odeme_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[odeme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRezervasyonlar]    Script Date: 4.05.2025 16:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRezervasyonlar](
	[rezervasyon_id] [int] IDENTITY(1,1) NOT NULL,
	[ev_id] [int] NOT NULL,
	[kiraci_id] [int] NOT NULL,
	[baslangic_tarihi] [date] NOT NULL,
	[bitis_tarihi] [date] NOT NULL,
	[toplam_fiyat] [decimal](10, 2) NOT NULL,
	[durum] [nvarchar](20) NOT NULL,
	[olusturulma_tarihi] [datetime] NULL,
	[guncelleme_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rezervasyon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSistemAyarlari]    Script Date: 4.05.2025 16:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSistemAyarlari](
	[ayar_id] [int] IDENTITY(1,1) NOT NULL,
	[ayar_adi] [nvarchar](50) NOT NULL,
	[ayar_degeri] [nvarchar](255) NOT NULL,
	[sistem_ayari_aciklama] [nvarchar](255) NULL,
	[guncelleme_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ayar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ayar_adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTinyEvler]    Script Date: 4.05.2025 16:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTinyEvler](
	[ev_id] [int] IDENTITY(1,1) NOT NULL,
	[ev_sahibi_id] [int] NOT NULL,
	[baslik] [nvarchar](100) NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[konum] [nvarchar](255) NOT NULL,
	[gece_fiyati] [decimal](10, 2) NOT NULL,
	[kapasite] [int] NOT NULL,
	[yatak_odasi_sayisi] [int] NOT NULL,
	[banyo_sayisi] [int] NOT NULL,
	[metre_kare] [int] NULL,
	[aktif_mi] [bit] NULL,
	[olusturulma_tarihi] [datetime] NULL,
	[guncelleme_tarihi] [datetime] NULL,
	[il] [nvarchar](25) NOT NULL,
	[ilce] [nvarchar](40) NOT NULL,
	[enlem] [decimal](10, 8) NULL,
	[boylam] [decimal](10, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[ev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUygunlukTakvimi]    Script Date: 4.05.2025 16:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUygunlukTakvimi](
	[takvim_id] [int] IDENTITY(1,1) NOT NULL,
	[ev_id] [int] NOT NULL,
	[tarih] [date] NOT NULL,
	[uygun_mu] [bit] NULL,
	[fiyat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[takvim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ev_id] ASC,
	[tarih] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBildirimler] ADD  DEFAULT ((0)) FOR [okundu_mu]
GO
ALTER TABLE [dbo].[tblBildirimler] ADD  DEFAULT (getdate()) FOR [olusturulma_tarihi]
GO
ALTER TABLE [dbo].[tblDegerlendirmeler] ADD  DEFAULT (getdate()) FOR [olusturulma_tarihi]
GO
ALTER TABLE [dbo].[tblDegerlendirmeler] ADD  DEFAULT (getdate()) FOR [guncelleme_tarihi]
GO
ALTER TABLE [dbo].[tblEvFotograflari] ADD  DEFAULT (getdate()) FOR [yuklenme_tarihi]
GO
ALTER TABLE [dbo].[tblKullanicilar] ADD  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[tblKullanicilar] ADD  DEFAULT (getdate()) FOR [olusturulma_tarihi]
GO
ALTER TABLE [dbo].[tblKullanicilar] ADD  DEFAULT (getdate()) FOR [guncelleme_tarihi]
GO
ALTER TABLE [dbo].[tblOdemeler] ADD  DEFAULT (getdate()) FOR [odeme_tarihi]
GO
ALTER TABLE [dbo].[tblRezervasyonlar] ADD  DEFAULT (getdate()) FOR [olusturulma_tarihi]
GO
ALTER TABLE [dbo].[tblRezervasyonlar] ADD  DEFAULT (getdate()) FOR [guncelleme_tarihi]
GO
ALTER TABLE [dbo].[tblSistemAyarlari] ADD  DEFAULT (getdate()) FOR [guncelleme_tarihi]
GO
ALTER TABLE [dbo].[tblTinyEvler] ADD  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[tblTinyEvler] ADD  DEFAULT (getdate()) FOR [olusturulma_tarihi]
GO
ALTER TABLE [dbo].[tblTinyEvler] ADD  DEFAULT (getdate()) FOR [guncelleme_tarihi]
GO
ALTER TABLE [dbo].[tblUygunlukTakvimi] ADD  DEFAULT ((1)) FOR [uygun_mu]
GO
ALTER TABLE [dbo].[tblBildirimler]  WITH CHECK ADD FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[tblKullanicilar] ([kullanici_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDegerlendirmeler]  WITH CHECK ADD FOREIGN KEY([rezervasyon_id])
REFERENCES [dbo].[tblRezervasyonlar] ([rezervasyon_id])
GO
ALTER TABLE [dbo].[tblEvFotograflari]  WITH CHECK ADD FOREIGN KEY([ev_id])
REFERENCES [dbo].[tblTinyEvler] ([ev_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOdemeler]  WITH CHECK ADD FOREIGN KEY([rezervasyon_id])
REFERENCES [dbo].[tblRezervasyonlar] ([rezervasyon_id])
GO
ALTER TABLE [dbo].[tblRezervasyonlar]  WITH CHECK ADD FOREIGN KEY([ev_id])
REFERENCES [dbo].[tblTinyEvler] ([ev_id])
GO
ALTER TABLE [dbo].[tblRezervasyonlar]  WITH CHECK ADD FOREIGN KEY([kiraci_id])
REFERENCES [dbo].[tblKullanicilar] ([kullanici_id])
GO
ALTER TABLE [dbo].[tblTinyEvler]  WITH CHECK ADD FOREIGN KEY([ev_sahibi_id])
REFERENCES [dbo].[tblKullanicilar] ([kullanici_id])
GO
ALTER TABLE [dbo].[tblUygunlukTakvimi]  WITH CHECK ADD FOREIGN KEY([ev_id])
REFERENCES [dbo].[tblTinyEvler] ([ev_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDegerlendirmeler]  WITH CHECK ADD CHECK  (([puan]>=(1) AND [puan]<=(5)))
GO
ALTER TABLE [dbo].[tblKullanicilar]  WITH CHECK ADD CHECK  (([rol]='kiraci' OR [rol]='ev_sahibi' OR [rol]='admin'))
GO
ALTER TABLE [dbo].[tblOdemeler]  WITH CHECK ADD CHECK  (([odeme_durum]='iade_edildi' OR [odeme_durum]='başarısız' OR [odeme_durum]='tamamlandı' OR [odeme_durum]='beklemede'))
GO
ALTER TABLE [dbo].[tblRezervasyonlar]  WITH CHECK ADD CHECK  (([durum]='tamamlandı' OR [durum]='iptal_edildi' OR [durum]='onaylandı' OR [durum]='beklemede'))
GO
ALTER TABLE [dbo].[tblRezervasyonlar]  WITH CHECK ADD CHECK  (([bitis_tarihi]>[baslangic_tarihi]))
GO
ALTER TABLE [dbo].[tblTinyEvler]  WITH CHECK ADD CHECK  (([banyo_sayisi]>(0)))
GO
ALTER TABLE [dbo].[tblTinyEvler]  WITH CHECK ADD CHECK  (([gece_fiyati]>(0)))
GO
ALTER TABLE [dbo].[tblTinyEvler]  WITH CHECK ADD CHECK  (([kapasite]>(0)))
GO
ALTER TABLE [dbo].[tblTinyEvler]  WITH CHECK ADD CHECK  (([metre_kare]>(0)))
GO
ALTER TABLE [dbo].[tblTinyEvler]  WITH CHECK ADD CHECK  (([yatak_odasi_sayisi]>=(0)))
GO
USE [master]
GO
